@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "google";
  src: url("/public/A-Google/A-Google.ttf");
}

* {
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "google";
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-weight: 700;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: auto;
  background-color: #070e1c;
  overflow-x: hidden;
}
